# VARIABLES DE ENTORNO
.env
# INSTALACION DE MODULOS
node_modules
# ARCHIVOS DE TEXTO
comandos Node.txt
# CODIGO DE DESARROLLO
codigo
# CARPETA DE ARCHIVOS 
archivos
# CONFIGURACION DE NODEMON
nodemon.json
# CONFIGURACION DE TS
tsconfig.json
